
               * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Open Sans", sans-serif;
            text-align: center;
            
        }
        body{
            background-color: rgb(240, 248, 255);
        }

        
        table{
           
          border-collapse: collapse;
         
          width: 50%;
          margin: 8% 25% 8% 25%;

        }
        
         td, th {
          border: 1px solid #d6cdcd;
          padding: 2%;
          color: #70639a;
            font-weight: bold;
        }
        
        tr:nth-child(even){background-color: #efd0d0;}
        tr:nth-child(odd){background-color: #9d7878;}
         tr:hover {background-color: #ddd;}
        
        th {
            
          
          background-color: #70639a;
          color: white;
        }
        a{
            text-decoration: none;
        }
